<% layout('layouts/boilerplate')%>
    <form action="/posts" method="POST">
<label for="caption">Caption</label>
<input type="text" id="caption" name="post[caption]">
   <button>Post</button>

</form>

<a href="/posts">Back to posts</a>
