<% layout('layouts/boilerplate')%>
    <h1><%= post.caption %></h1>
    <a href="/posts/<%=post._id%>/edit">Edit</a>
    
    <form action="/posts/<%= post._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    

    <footer>
        <a href="/posts">All posts</a>
    </footer>
